{% extends "base.html" %}
{% load static %}
{% block title %}
blogs
{% endblock title %}

{% block content %}
<div class="tm-content-container">
  <div class="tm-content tm-content-2">
    <p>
      blogs
    </p>
    <div class="container-fluid">
      <div class="row tm-gallery" id="tmGallery">

        {% if show_only_my_followings_blogs %}
        <div style="width: 100%;">
          <a href="{% url 'blogs_page' %}" class="btn btn-primary ml-3">view all users</a>
        </div>
        {% for user in followed_users %}
        {% for blog in user.blogs.all %}
        <div class="col-sm-6 tm-gallery-item">
          <figure class="effect-bubba">
            <img id="img-blog" src="{{blog.pic.url}}" alt="Gallery item" class="img-fluid"/>
            <figcaption>
              <h2 id="blog-title-h2">{{blog.title|slice:":12"}}</h2>
              <p id="blog-body-p">{{blog.body|slice:":30" }}</p>
              <a href="{% url "blog_page" id=blog.id username=user.username%}"></a>
            </figcaption>
          </figure>
        </div>
        {% endfor %}
        {% endfor %}


        {% else %}
        {% if user.is_authenticated %}
        <div style="width:100%">
          <a href="{% url 'followings_blogs_page' %}" class="btn btn-primary ml-3">View only the blogs of users you
            follow.</a>
        </div>
        {% endif %}
        {% for blog in blogs %}
        <div class="col-sm-6 tm-gallery-item">
          <figure class="effect-bubba">
            <img id="img-blog" src="{{blog.pic.url}}" alt="Gallery item" class="img-fluid" />
            <figcaption>
              <h2 id="blog-title-h2">{{blog.title|slice:":12"}}</h2>
              <p id="blog-body-p">{{blog.body|slice:":30" }}</p>
              <a href="{% url "blog_page" id=blog.id username=blog.author.username%}"></a>
            </figcaption>
          </figure>
        </div>
        {% endfor %}
        {% endif %}

      </div>
    </div>
  </div>
</div>
</div>
<div class="pagination-container">
  <ul class="pagination mx-auto">
    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item active"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</div>
{% endblock content %}