{% extends "base.html" %}
{% load static %}
{% block title %}
blog
{% endblock title %}

{% block content %}
<div class="tm-content-container">
  <figure class="mb-0">
    <img src="{% static 'img/img-1.jpg' %}" alt="Image" class="img-fluid tm-img" />
  </figure>
  <div class="tm-content">
    <h2 class="tm-page-title">Verticard Simple CSS Template</h2>
    <p class="mb-4">
      Curabitur ac est dapibus, ultricies diam non, vestibulum odio. Sed
      ac nunc lacinia, maximus nisi non, efficitur lacus, Donec efficitur
      at dui non molestie.
    </p>
    <hr>
    <div>
      <a href="" id="like-btn" class="btn btn-success mb-3">👍</a>
      <span id="number-of-likes">0 likes</span>
    </div>
  </div>
</div>
{% endblock content %}